.footer {
    text-align: left;
    /* position: fixed; */
    background: var(--main-login-cointainer-bg);
    margin-top: 90px;
    position: relative;
    }

  .footer-image{
    max-height: 270px;
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
   }
  
  .footer-container {
    z-index: 1;
    display: flex;
    padding: 0px 40px 0px 20px ;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  } 
  
  .footer-logo{
     flex: 0 0 40%; 
    z-index: 1;
  }

  .footer-logo h1 span {
    z-index: 1;
    font-family: 'monospace';
    color: #fff;
  }
  .image-logo{
    max-width: 300px;
  }
  .footer-links {
    flex: 0 0 53%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  
  .footer-column a {
    z-index: 1;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  .footer-language {
    z-index: 1;
    display: flex;
    align-items: center;
  }
  
  .language-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .language-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .language-icon {
    margin-right: 8px;
  }
  
  @media (max-width: 786px){

    .footer-container { 
      padding: 0px 40px 0px 20px ; 
      flex-wrap: wrap;
      max-width: 80vw;
      margin: 0 auto;
    }

    .image-logo{
      margin: 15px -10px; 
   }

    .footer-image{
      justify-self:end;
      min-height: 230px;
    }

    .footer-links {
      flex: 0 0 108%;
      display: flex;
      justify-content: space-between;
    }
  }
  @media (max-width: 686px) {
    
    .footer-image{
      min-height: 220px;
    }
  .image-logo{
     max-width: 200px;  
  }
   
  .footer-column a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .language-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: small;
    margin-top: 6px;
  }
    
  .footer-image{
    min-height: 259px;
  }
.image-logo{
   max-width: 200px;  
}

}
 